In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\Admin\Desktop\demographic-data-analyzer\demographic_data.csv")

In [8]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# Count of people by race

In [10]:
race_counts = df["race"].value_counts()
print(race_counts)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [12]:
#  Average age of men

In [13]:
average_age_men = round(df[df["sex"] == "Male"]["age"].mean(), 1)
print(average_age_men)

39.4

In [14]:
# Percentage of people with a Bachelor's degree

In [15]:
bachelor_percentage = round((df["education"] == "Bachelors").mean() * 100, 1)
print(bachelor_percentage)

16.4

In [17]:
# Percentage of people with advanced education who earn >50K

In [21]:
higher_education = df["education"].isin(["Bachelors", "Masters", "Doctorate"])
higher_education_rich = round((df[higher_education]["salary"] == ">50K").mean() * 100, 1)
print(higher_education_rich)

46.5

In [26]:
#Percentage of people without advanced education who earn >50K

In [27]:
lower_education = ~higher_education
lower_education_rich = round((df[lower_education]["salary"] == ">50K").mean() * 100, 1)
print(lower_education_rich)

24.1

In [28]:
# Minimum hours worked per week

In [29]:
min_work_hours = df["hours-per-week"].min()
print(min_work_hours)

1

In [30]:
# Percentage of people working minimum hours who earn >50K

In [31]:
min_workers = df["hours-per-week"] == min_work_hours
rich_min_workers = round((df[min_workers]["salary"] == ">50K").mean() * 100, 1)
print(rich_min_workers)

10.0

In [34]:
# Country with the highest percentage of people earning >50K

In [36]:
country_salary_counts = df[df["salary"] == ">50K"]["native-country"].value_counts()
country_total_counts = df["native-country"].value_counts()
highest_earning_country = (country_salary_counts / country_total_counts * 100).idxmax()
highest_earning_country_percentage = round((country_salary_counts / country_total_counts * 100).max(), 1)
print(highest_earning_country, highest_earning_country_percentage)

Iran 41.9

In [37]:
 # Most popular occupation for high earners in India

In [38]:
top_occupation_india = df[(df["salary"] == ">50K") & (df["native-country"] == "India")]["occupation"].value_counts().idxmax()
print(top_occupation_india)

Prof-specialty